@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

/* Variables */
:root {
  --bg: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg");
  --form-bg: #f8f4e5;
  --form-shadow: #ffa580;
  --form-primary-highlight: #95a4ff;
  --form-secondary-highlight: #ffc8ff;
  --font-size: 14pt;
  --font-face: "Fjalla One";
  --font-color: #2a293e;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body */
body {
  background: var(--bg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

/* Contact Us */
.contact-us{
  background: var(--form-bg);
  padding: 30px 5px 20px 50px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px var(--form-shadow), 15px 15px 1px 2px rgba(0, 0, 0, 1);
  overflow: scroll;
  margin-top: 20px;
  margin-left: 180px;
  height: 450px;
  width: 700px;

}

/* Input */
input {
  display: block;
  width: 100%;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 2);
  font-family: var(--font-face);
  margin-bottom: calc(var(--font-size) * 2);
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 1);
  background: var(--form-bg);
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgba(0, 0, 0, 1);
}

input:focus {
  border-bottom: 5px solid var(--form-shadow);
}

/* Button */
button {
  display: block;
  margin: 0 auto;
  line-height: calc(var(--font-size) * 2);
  padding: 0 20px;
  background: var(--form-shadow);
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px 1px var(--form-primary-highlight),
    3px 3px 1px 2px rgba(0, 0, 0, 1);
}

button:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
}

/* Selection */
::selection {
  background: var(--form-secondary-highlight);
}


/* List Item
.list-item {
  display: block;
  width: 100%;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 2);
  font-family: var(--font-face);
  margin-bottom: calc(var(--font-size) * 2);
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 1);
  background: var(--form-bg);
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: rgba(0, 0, 0, 1);
}*/

/* Apply the style to list items*/
ul li{
   list-style-type:none;
    margin: 0;
    padding: 5px;
    display: inline;
    }


/* Optional: Style for hover effect on list items
ul li.list-item:hover,
ol li.list-item:hover {*/
  /* Add any hover styles here
  background-color:  Your hover background color ;
  color: /* Your hover text color ;}*/


/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Adjust as needed */
  font-family: var(--font-face);

}
th {
  font-family: var(--font-face);
  font-size: 30px;
  padding: 50px
}
/* Table Cells */
td{
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 1);
  background: var(--form-bg);
  color: rgba(0, 0, 0, 1);
  font-family: var(--font-face);
}

/* Optional: Hover effect for table cells*/


/* Apply the input styling to table cells with a specific class */
table td {
  border: none;
  background: var(--form-bg);
  padding-left: 5px;
  color: rgba(0, 0, 0, 1);

}

.contact-us table td {
  border: none;
  background: var(--form-bg);
  padding: 10px;
  min-width: 100px;
  color: rgba(0, 0, 0, 1);

}

table td:focus {
  border-bottom: 5px solid var(--form-shadow);
}



/*nav bar



li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
*/
/* home */
.home {
  background: var(--form-bg);
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px var(--form-shadow), 15px 15px 1px 2px rgba(0, 0, 0, 1);
  height: 530px;
  width: 190px;
  position: fixed;
  top: 30px;
  left: 20px;
  overflow: scroll;
  overflow: scroll;
  margin-top: 60px;



}

a:link {
  color: #2a293e;
  text-decoration: none;
  cursor: context-menu;
}

a:visited {
  color: #2a293e;
  text-decoration: none;
  cursor: context-menu;
}

h1 h4 {
  text-align: center;
  font-family: var(--font-face);
  padding: 30px;
  }

.error {
  color: red;
  font-size: 14px;
}

/* Style for form fields with errors */


p {
  padding: 5px;
  color: grey;
  font-family: var(--font-face);
  display: inline-block;
}

/* user nav */

.user-nav{
  background: var(--form-bg);
  padding: 10px 50px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px var(--form-shadow), 15px 15px 1px 2px rgba(0, 0, 0, 1);

  grid-column-start: 0;

}