{% extends 'main.html' %}

{% load static %}

{% block content %}
  <form>
  {% csrf_token %}

<!--    <div class="user-nav">-->
<!--      <p> {{ request.user }} </p>-->
<!--    </div>-->

      <div class="contact-us">
          <table class="table" >
            <thead class="thead-inverse">
              <tr>
                <th colspan="2" style="width:70%">
                    {% if username is not None %}
                    {{ username }}
                    {% endif %}
                    Todo List ({{ tasks.count }})</th>
                <th><button type="submit" formaction="{% url 'create-task' %}" class="btn-btn-primary">+</button></th>
              </tr>
            </thead>
            <tbody>
            {% if not tasks %}
            <tr>
                <th colspan="2">Add your task!</th>
            </tr>
            {% else %}
            <tr><td>  </td></tr>
              {% for task in tasks %}
                <tr>
                    <td> {{ task.created_by }} </td>
                    <td><a href="{% url 'task' task.pk %}"> {{ task.title }} </a><br>
                        <p>{{ task.date }}</p></td>
                    <td>
                        <button type="submit" formaction="{% url 'update-task' task.pk %}" class="btn-btn-primary">update</button></td>
                    <td style="padding:5px">
                        <a href="{% url 'soft-delete' task.pk %}">
                            <img src="{% static 'images/delete-icon.png' %}" height="40px">
                        </a></td>
                    </tr>
              {% endfor %}
            {% endif %}

<!--            pagination-->
            <tr>
                <td><br><br>{% if page_no.has_other_pages %}
          <ul class="pagination">
            {% if page_no.has_previous %}
              <li><a href="page={{ page_no.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in page_no.paginator.page_range %}
              {% if page_no.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_no.has_next %}
              <li><a href="page={{ page_no.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
                </td>
            </tr>
            </tbody>
          </table>


      </div>
  </form>
{% endblock %}
