{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
{% block title %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<script src="https://cdn.ckeditor.com/4.16.0/standard-all/ckeditor.js"></script>
<body>
{% if user.is_authenticated %}
    <form>
    <div class="home">
       <table  class="table">
           <tr>
               <td><p>Profile: </p>{{ user }} <br><br> </td>
           </tr>
           {% if users %}
           <tr>
               <td>
                   <button type="submit" formaction="{% url 'home' %}" class="btn-btn-primary">
                   All Tasks
                   </button><br><hr>
               </td>
           </tr>
           {% for user in users%}
           <tr>
               <td>
                   <button type="submit" formaction="{% url 'superuser_home' username=user.username pk=user.id %}" class="btn-btn-primary">
                   {{ user.username }}
                   </button><br><hr></td>
           </tr>
           {% endfor%}
           {% endif %}
       </table>
    </div>
    </form>
{% endif %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>
