{% extends 'main.html' %}

{% load static %}

{% block content %}
 <form>
  {% csrf_token %}
      <div class="contact-us">
          {% include 'main_features.html' %}
          {% if not tasks %}
               <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th colspan="2">Trash is empty</th>
                  </tr>
                </thead>
              </table>
          {% else %}
              <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th colspan="2" style="width:70%">
                    {% if request.user.is_superuser %}
                        {% if username is not None %}
                        {{ username }}'s
                        {% else %}
                        Everyone's
                        {% endif %}
                    {% else %}
                    {{ request.user }}'s
                    {% endif %}
                    Deleted task ({{ tasks.count }})</th>
                <th><button type="submit" formaction="{% url 'create-task' %}" class="btn-btn-primary">+</button></th>

                  </tr>
                </thead>
                <tbody>
                  {% for task in tasks %}
                    <tr>
                        <td colspan="2">{{ task.title }}</td>
                        <td>
                            <button type="submit" formaction="{% url 'restore' task.pk %}" class="btn-btn-primary">restore</button></td>
                        <td>
                            <button type="submit" formaction="{% url 'delete' task.pk %}" class="btn-btn-primary">delete</button></td>
                    </tr>
                    <tr>
                        <td>{% if messages %}
                              <div>
                                <p>{{ message }}</p><br>
                              </div>
                            {% endif %}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          {% endif %}
      </div>
  </form>

{% endblock %}
